flows.json
[{"id":"27ea58ba.4dc398","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cfb5db77.16a138","type":"inject","z":"27ea58ba.4dc398","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":82,"y":145,"wires":[["638df6c3.9d6f88"]]},{"id":"45213eb6.e872e","type":"http request","z":"27ea58ba.4dc398","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":430,"y":244,"wires":[["e28fbb8c.7b4188"]]},{"id":"472cb7a7.d89a98","type":"http request","z":"27ea58ba.4dc398","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/900c0ffa-6d8a-4319-8866-b333271e62c6/deployments/611007ac-59cc-4ca0-a87d-ce27f0229df5/online","tls":"","proxy":"","authType":"basic","x":401,"y":355,"wires":[["2f26115d.19133e"]]},{"id":"638df6c3.9d6f88","type":"function","z":"27ea58ba.4dc398","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"4304486f-8902-4614-80fe-bc2b70088dc2\";\nvar password=\"4549c902-bd45-44e2-9981-ac08d4266e19\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"o\",msg.payload.o)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"c\",msg.payload.c)\nreturn msg;","outputs":1,"noerr":0,"x":236,"y":244,"wires":[["45213eb6.e872e"]]},{"id":"e28fbb8c.7b4188","type":"function","z":"27ea58ba.4dc398","name":"predict","func":"var token=msg.payload.token;\nvar g=global.get(\"g\");\nvar a=global.get(\"a\");\nvar o=global.get(\"o\");\nvar s=global.get(\"s\");\nvar m=global.get(\"m\");\nvar p=global.get(\"p\");\nvar c=global.get(\"c\");\nmsg.payload={\"fields\":[\"Gender\",\"Age\",\"Occupation\",\"Stay in Years\",\"Marital Status\",\"Prod_category\",\"Category\"],\"values\":[[g,a,o,s,m,p,c]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":244,"wires":[["472cb7a7.d89a98"]]},{"id":"2f26115d.19133e","type":"function","z":"27ea58ba.4dc398","name":"op parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":614,"y":355,"wires":[["218807b9.17adf8"]]},{"id":"218807b9.17adf8","type":"ui_text","z":"27ea58ba.4dc398","group":"b0deeab7.78d378","order":3,"width":0,"height":0,"name":"","label":"Predict","format":"{{msg.payload}}","layout":"row-spread","x":615,"y":417,"wires":[]},{"id":"2bf9f794.dcbcf8","type":"ui_form","z":"27ea58ba.4dc398","name":"","label":"","group":"b0deeab7.78d378","order":2,"width":0,"height":0,"options":[{"label":"Gender","value":"g","type":"number","required":true},{"label":"Age","value":"a","type":"number","required":true},{"label":"Occupation","value":"o","type":"number","required":true},{"label":"Stay in Years","value":"s","type":"number","required":true},{"label":"Marital Status","value":"m","type":"number","required":true},{"label":"Prod_category","value":"p","type":"number","required":true},{"label":"Category","value":"c","type":"number","required":true}],"formValue":{"g":"","a":"","o":"","s":"","m":"","p":"","c":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":77,"y":337,"wires":[["638df6c3.9d6f88"]]},{"id":"b0deeab7.78d378","type":"ui_group","z":"","name":"Predict","tab":"45a2e5c7.72290c","disp":true,"width":"6","collapse":false},{"id":"45a2e5c7.72290c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]